
.navbar {
    padding: 25px;
    background-color: #f9efe9 !important;
}

.navbar-item img {
    max-height: 58px !important;
    margin-right: 40px;
}

.fa-search {margin-right: 5px;}

.tabs li.is-active a {
    border-bottom-color: #6e5e68 !important;
}

.tabs.is-toggle li.is-active a {
    background-color: #6e5e68 !important;
    border-color: #6e5e68 !important;
}

#tabs-with-content {
margin-top: 80px;
}
#tabs-with-content .tabs:not(:last-child) {
    margin-bottom: 0;
  }
  
  #tabs-with-content .tab-content {
    padding: 1rem;
    display: none;
  }
  
  #tabs-with-content .tab-content.is-active {
    display: block;
  }

#fact-container { 
    font-weight: bold;
    border-radius: 10px;
    background-color: #f9efe9;
    margin: 20px;
    padding: 0%
  }

  #image-container {
    border-radius: 20px;
    margin: 20px;
    padding: 0%;
  }

  #dog-image {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
